:root{
    --verdeEscuro: #0F2608;
    --verdeClaro: #5d8a50;
    --verde:#1D4013;
    --branco: #ffffff;
    --preto: #000000;
    --bege:#845C21;
    --cinza: gray;
}


header{
    width: 100%;
    position: fixed;
    background-color:#0f260800 ;
}


.navbar-brand {
    width: 15%;
}


#page{
    background-image: linear-gradient(180deg,  rgba(100, 96, 96, 0.237) 80% ,rgb(95, 95, 95) 100%);
    background-size: cover;
    /* background-color: yellow; */
}


nav a {
    color: var(--branco)!important;
    text-decoration-color: #ffffff !important;
}


nav a:hover{
    border: 2px solid var(--cinza)!important;
    border-radius: 0%;
    color: var(--cinza)!important;
}

nav a {
    text-shadow: 0 0 10px var(--cinza), 0 0 20px var(--cinza), 0 0 30px var(--verdeEscuro);
    animation: brilho 1s infinite;
  }



#logo:hover{
    border: none !important;
}


#login{
    border: 1px solid var(--cinza);
    border-radius: 0%;
    text-shadow: 0 0 10px var(--verdeEscuro), 0 0 20px var(--verdeEscuro), 0 0 30px var(--verdeEscuro);
    animation: brilho 1s infinite;
  }

#login:hover{
    color: var(--branco) !important;
    border: 2px solid var(--cinza)!important;
}


#logo:hover{
    border: none !important;
}

  section{
    height: 900px;
}

#image3{
    width: 100%;
    height: 200px;
    align-items: center;
    font-size: 2rem;
    font-family: initial;
    letter-spacing: 15px;
    animation: lite 2s ease-in-out;
    color: rgb(58, 58, 58);
    background-color: rgba(128, 128, 128, 0.151);  
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#texto{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: initial;
    background-color: rgb(221, 221, 221);
    border-radius: 0%;

}

#texto h2{
    line-height: 40px;
    color: rgb(34, 34, 34);
}


#texto p{
    font-size: 22px;

}

@keyframes lite{
    from{
        text-shadow: 0 0 100px rgb(39, 38, 38);
        transform: scale(1);
    }
    to{
        text-shadow: 0 0 80px rgb(51, 51, 51), 0 0 80px var(--branco);
        transform: scale(1.2);
    }
}


#imagem{
    width: 40%;
    height: 650px;
    margin: 10%;
    background-color: var(--branco);
}


#icadastrar{
    width: 100%;
    color: var(--branco);
    background-color: var(--cinza);
   
}


#icadastrar:hover{
    background-color: rgb(71, 71, 71);
    border:  gray ;
}


.container{ 
    width: 90%;
    height: 100%;
    font-size: 20px;
    font-family: initial;
    /* background-color: yellow; */
}


.container p{
    color: rgb(29, 29, 29);
    font-size: 30px;
}

.container a{
    color: rgb(37, 37, 37);
    text-decoration: none;
}

.container a:hover{
    color: var(--cinza);
}
input{
    height: 35px;
    border: 1px solid var(--cinza);
    background-color: var(--branco);
}


.icons {
    width: 100%;
    color: rgb(54, 52, 52);
    gap: 20px;
}







footer{
    height: 200px;
    margin-top:2%;
    color: rgb(32, 32, 32)!important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid var(--cinza);
    align-items: center;
    /* background-color: rgba(128, 128, 128, 0.478); */
    text-shadow: 0 0 10px gray, 0 0 20px var(--black), 0 0 30px var(--black);
}



@media screen and (max-width: 1163px){
    #imagem{
        height: 750px ;
    }
    
    #imagem section{
        width: 100%;
    }
}